<ion-header>
  <ion-toolbar color="dark" class="ion-color ion-color-dark md hydrated">
    <ion-buttons slot="secondary">
      <ion-button fill="solid" routerLink="/home" routerDirection="root">
        <ion-icon slot="start" color="primary" name="home"></ion-icon> Misa
      </ion-button>
    </ion-buttons>
    <ion-title>Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>KST</ion-label>
    <ion-select
      [(ngModel)]="defultOrderAccountNumber"
      ok-text="OK"
      cancel-text="Abbrechen"
      placeholder="KST auswählen"
      (ionChange)="saveAccounts($event)"
    >
      <ion-select-option *ngFor="let acc of arrAccounts" [value]="acc.code">
        {{ acc.description }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Kamera benutzen</ion-label>
    <ion-toggle
      [(ngModel)]="canScanUsingCamera"
      mode="ios"
      color="success"
      (ionChange)="SaveCameraScanSetting($event)"
    ></ion-toggle>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">
      <strong>Benutzername</strong>
    </ion-label>
    <ion-input
      [(ngModel)]="userName"
      (ionChange)="saveUserInitial($event)"
    ></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">
      <strong>Server-URL</strong>
    </ion-label>
    <ion-input
      [(ngModel)]="serverUrl"
      (ionChange)="saveServerUrl($event)"
      placeholder="https://..."
    >
    </ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">
      <strong>Server Username</strong>
    </ion-label>
    <ion-input
      [(ngModel)]="restUser"
      (ionChange)="saveRestUser($event)"
    ></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">
      <strong>Server Password</strong>
    </ion-label>
    <ion-input
      [(ngModel)]="restPassword"
      type="password"
      (ionChange)="saveRestPassword($event)"
    ></ion-input>
  </ion-item>

  <ion-text color="success" *ngIf="successMsg" class="ion-padding">
    {{ successMsg }}
  </ion-text>
</ion-content>
