<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button
        [text]="''"
        [defaultHref]="defaultBackLink"
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="center-title">
      {{ boundPcat.descinternal || 'ARTIKEL' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-list-header class="serch-bar-bg">
  <ion-searchbar
    class="serch-text-bg"
    placeholder="Suche..."
    [(ngModel)]="searchValue"
    (input)="ArticalItemSearch($event.target.value)"
  ></ion-searchbar>
  <ion-label>Wildcard Suche</ion-label>
  <ion-toggle
    [(ngModel)]="IsWildSearchActive"
    mode="ios"
    color="success"
    (ionChange)="wildSearchToggleChange($event)"
  ></ion-toggle>
</ion-list-header>

<ion-content>
  <ion-content>
    <ion-list lines="full">
      <ion-item *ngFor="let articalItem of arrArticalsItem; let i=index;">
        <ion-icon
          slot="start"
          color="primary"
          name="add-circle"
          (click)="addArticalInOrder(articalItem)"
        ></ion-icon>
        <ion-label (click)="editArtical(articalItem)" style="cursor: pointer">
          {{articalItem.descinternal}}
        </ion-label>
        <ion-icon
          slot="end"
          color="primary"
          name="chevron-forward"
          (click)="editArtical(articalItem)"
        ></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
  <app-camera-scanner></app-camera-scanner>
</ion-content>
