<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Inventur – Get/Send (Testmodus)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list inset="true">
    <ion-item>
      <ion-label>Inventur holen (GET)</ion-label>
      <ion-button slot="end" fill="solid" color="primary" (click)="doGetMock()">
        Laden
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Inventur senden (SEND)</ion-label>
      <ion-button
        slot="end"
        fill="solid"
        color="primary"
        (click)="doSendMock()"
      >
        Senden
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-note class="ion-text-center">
    Testmodus: lädt/löscht lokale Inventurdaten (ohne Server).
  </ion-note>
</ion-content>
