<ion-header>
  <ion-toolbar color="dark" class="ion-color ion-color-dark md hydrated">
    <ion-title>App-Einstellungen</ion-title>
    <ion-buttons start>
      <ion-back-button
        text="Zurück"
        slot="start"
        icon="arrow-back"
        [defaultHref]="defaultBackLink"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-input
      label="Server URL"
      [(ngModel)]="serverUrl"
      (ionChange)="saveServerUrl($event)"
      placeholder="https://..."
    ></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-input
      label="Server Username"
      [(ngModel)]="restUser"
      (ionChange)="saveRestUser($event)"
    ></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-input
      label="Server Password"
      type="password"
      [(ngModel)]="restPassword"
      (ionChange)="saveRestPassword($event)"
    ></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="stacked">Entnahmelagerort (Device)</ion-label>
    <ion-input
      type="number"
      inputmode="numeric"
      [value]="warehouseLocation"
      (ionChange)="saveWarehouseLocation($event)"
      placeholder="z. B. 6"
    >
    </ion-input>
  </ion-item>

  <!-- (Opcional) feedback reutilizando successMsg que ya usas -->
  <ion-text color="success" *ngIf="successMsg">
    <p class="ion-text-right ion-padding-end">{{ successMsg }}</p>
  </ion-text>

  <ion-text color="success" *ngIf="successMsg" class="ion-padding">
    {{ successMsg }}
  </ion-text>
</ion-content>
