<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="order">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Bestellung</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="articals">
      <ion-icon name="star"></ion-icon>
      <ion-label>Artikel Listen</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="orderhistory">
      <ion-icon name="folder"></ion-icon>
      <ion-label>Bestell History</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="Settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
